body {
  box-sizing: border-box;
  margin: 16px;
  background-color: #fafafa;

}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  height: 300px;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
  
}

.gallery-item {
display: block;
width: calc((100% - 48px) / 3);
}

img {
  width: 360px;
  height: 360px;
}
.gallery-link {
cursor: url(../src/cursor.svg), auto;
}
